$small: 768px;
$medium: 1024px;
$large: 1366px;

.blockOne {
    min-height: 575px;
    width: 100%;
    color: #000;
    margin-bottom: 70px;

    &_content {
        width: 100%;
        height: 100%;
        max-height: 575px;
        max-width: 1440px;
        margin: 0 auto;
        padding: 35px;

        display: flex;
        justify-content: space-between;
        background-color: #F9F9F9;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;

        transform: translateY(-450px);

        @media (max-width: 1245px) {
            transform: translateY(-400px);
        }

        @media (max-width: $medium) {
            padding: 25px 20px 40px;
        }
    }

    &_info {
        width: 100%;
        max-width: 610px;

        @media (max-width: 1245px) {
            max-width: 550px;
        }

        @media (max-width: $medium) {
            max-width: 450px;
        }
    }

    &_title {
        font-weight: 500;
        font-size: 32px;
        line-height: 1.2;
        margin: 20px 0;
        
        @media (max-width: 1245px) {
            font-size: 26px;
        }

        @media (max-width: $medium) {
            font-size: 24px;
        }
    }

    &_text {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;

        @media (max-width: 1245px) {
            font-size: 15px;
        }
    }

    &_numbers {
        display: flex;
        justify-content: space-between;

        @media (max-width: $medium) {
            display: block;
        }
    }

    &_numberOne {
        margin-bottom: 20px;

        h1 {
            font-size: 95px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.16);
        
            @media (max-width: 1245px) {
                font-size: 75px;
            }

            @media (max-width: $medium) {
                font-size: 65px;
            }
        }

        p {
            font-size: 14px;
        }
    }

    &_button {
        margin-top: 30px;
        padding: 16px 34px;
        color: #262626;
        font-size: 16px;
        font-weight: 600;
        background-color: #fff;
        border: 1.5px solid #000;
        border-radius: 44px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        outline: none;

        &:focus {
            outline: none;
        }

        &:hover {
            border: 3px solid #000;
        }
    }

    &_img {
        img {
            @media (max-width: 1245px) {
                width: 450px;
                height: 450px;
            }

            @media (max-width: $medium) {
                width: 350px;
                height: 350px;
            }
        }
    }

    &_middle {
        width: 100%;
        margin-top: 120px;
        padding: 50px 0 0;
        background: #F9F9F9;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            padding: 0 0 30px;
            width: 530px;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 1px;
            color: #262626;
            text-align: center;
        }
    }

    &_footer {
        height: 100%;
        max-height: 765px;
        padding-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;

        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;

        // background: #fff;
        background-image: url('../assets/building.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        img {
            width: 492px;
            height: 492px;
        }
    }
}