.footer {
    width: 100%;
    padding: 32px 0;
    background: rgba(8, 85, 160, 1);

    &_contacts {

        h1 {
            font-weight: 700;
            font-style: Bold;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: center;
        }
    }
}