$small: 768px;
$medium: 1024px;
$large: 1366px;

.footer {
    width: 100%;
    padding: 32px 0;
    background: rgba(8, 85, 160, 1);

    &_content {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media (max-width: $medium) {
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    &_contacts {
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media (max-width: $medium) {
            margin: 20px 0;
        }
    }

    &_contactsOne {
        max-width: 662px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        @media (max-width: $medium) {
            justify-content: center;
        }
    }

    &_info {
        display: flex;
        align-items: center;
        margin: 0 20px;

        p {
            font-weight: 600;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0%;
            margin-right: 5px;
        }

        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0%;
        }

        div {
            img {
                margin: 0 3px;
            }
        }
    }

    &_title {
        margin-bottom: 32px;
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;

        @media (max-width: $medium) {
            margin-bottom: 22px;
        }
    }

    &_link {
        max-width: 329px;

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0%;
            margin-bottom: 10px;
        }

        a {
            font-weight: 500;
            font-style: Medium;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0%;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 0%;
            text-decoration-skip-ink: auto;
            color: rgba(246, 246, 246, 1);
        }

        @media (max-width: $medium) {
            text-align: center;
        }
    }

    @media (max-width: $large) {
        padding: 32px 10px;
    }
}