$small: 768px;
$medium: 1144px;
$large: 1366px;

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    min-height: 60px;
    width: 100%;
    color: #ffffff;

    padding: 20px 0;
    background-color: #0166D4;

    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            @media (max-width: $medium) {
                display: none;
            }
        }
    }

    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            margin: 0 15px;
            font-weight: 600;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0%;

            @media (max-width: 1320px) {
                font-size: 14px;
            }
        }

        @media (max-width: $medium) {
            display: none;
        }
    }

    @media (max-width: $large) {
        padding: 20px;
    }

    @media (max-width: 1320px) {
        font-size: 14px;
        padding: 20px 10px;
    }

    @media (max-width: $medium) {
        padding: 10px;
    }
}