.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    min-height: 60px;
    width: 100%;
    color: #ffffff;

    padding: 20px 0;
    background-color: #0166D4;

    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            margin: 0 15px;
            font-weight: 600;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0%;
        }
    }
}