.home {
    margin: 200px 0 0;
    min-height: 1000px;
    width: 100%;

    display: flex;
    justify-content: center;
    text-align: center;

    &_content {
        text-align: center;
    }

    &_words {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1030px;
        text-align: center;
    }

    &_title {
        font-weight: 700;
        font-size: 50px;
        color: #fff;
        letter-spacing: normal;
    }

    &_text {
        width: 300px;
        margin-top: 10px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

    &_btn {
        margin-top: 30px;
        padding: 16px 34px;
        color: #262626;
        font-size: 16px;
        font-weight: 600;
        background-color: #FDCC12;
        border: none;
        border-radius: 44px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        outline: none;
        box-shadow: 0 5px #874C0C;

        &:focus {
            outline: none;
            background-color: #B0B0B0;
            box-shadow: 0 5px #7a7a7a;
        }

        &:active {
            transform: scale(0.96);
            background-color: #B0B0B0;
            box-shadow: 0 5px #7a7a7a;
        }

        // &:hover {
        //     background-color: darken(#FDCC12, 5%);
        // }
    }
}