.news {
    width: 100%;
    background-image: url('../assets/news.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;

    &_cover {
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(24px);
    }

    &_content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 130px 0 115px;
    }

    &_title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
    }

    &_text {
        max-width: 640px;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 1.2px;
        margin: 20px 0 40px;
    }

    &_links {
        width: 100%;
        max-width: 990px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 410px;
            height: 410px;
            margin: 0 20px;
            border-radius: 15px;
        }

        h2 {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.2;
        }
    }
}