.projects {
    position: relative;
    width: 100%;
    padding: 70px 0 50px;
    background: #0B3360;

    &_inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;

        .img {
            width: 100%;
            margin: 50px 0;
        }
    }

    &_title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    &_subtitle {
        width: 100%;
        max-width: 654px;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 50px;
    }

    &_info {
        margin: 35px 0 0;
        padding: 20px;

        width: 100%;
        max-width: 735px;

        border: 3px solid rgba(0, 122, 253, 1);
        border-radius: 16px;
        color: rgba(246, 246, 246, 1);

        span {
            font-size: 16px;
            font-weight: 500;
            line-height: 160%;
        }
    }
}

.ageGroup {

    &_title {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .groups {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 40px 80px;

        border-radius: 15px;
        background: #0166D4;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15) inset;

        h1 {
            // font-size: 20px;
            font-weight: 500;
        }

        span {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        img {
            width: 150px;
            height: 150px;
        }
    }
}

.majors {
    width: 100%;
    max-width: 1240px;

    h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
    }

    span {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2;
    }

    p {
        font-size: 32px;
        font-weight: 600;
    }

    .groups {
        margin: 30px 0 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 20px 40px 40px;
        z-index: 100;

        border-radius: 15px;
        background: #0166D4;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15) inset;

        h1 {
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 500;
        }

        img {
            width: 200px;
            height: 200px;
        }
    }

    .subitems {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 15px 10px 10px;

        border-radius: 15px;
        background: #0166D4;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15) inset;
        z-index: 100;

        h1 {
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 500;
            max-width: 365px;
        }

        img {
            width: 100%;
            height: 100%;
            max-height: 400px;
        }
    }
}

.awards {
    width: 100%;

    &_title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px;
    }

    &_subtitle {
        margin: 20px 0 0;
        font-size: 16px;
        font-weight: 400;
        text-align: end;
    }

    &_inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 70px 0 50px;
        background: rgba(1, 102, 212, 1);
    }

    &_container {
        width: 100%;
        max-width: 1240px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item {
        width: 364px;
        height: 296px;
        margin: 0 30px;
        padding: 10px 20px;
        background: rgba(0, 122, 253, 1);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
        border-radius: 15px;

        h1 {
            font-size: 24px;
            font-weight: 500;
        }

        img {
            width: 207px;
            height: 207px;
        }
    }
}

// background images
.frame1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.frame2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.topology1 {
    position: absolute;
    top: 1550px;
    right: 0;
    z-index: 0;
}

.topology2 {
    position: absolute;
    top: 850px;
    right: 0;
    z-index: 0;
}

.topology3 {
    position: absolute;
    top: 1010px;
    left: 0;
    z-index: 0;
}