.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main {
  width: 100%;
  min-height: 100vh;
  /* full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  width: 100%;
  background-image: url('./assets/main_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.info_section {
  position: relative;
  width: 100%;
  background: #eef3f3;
}